body {
    display: block;
    margin: 0;
    font-family:sans-serif;
    background-color: white;
}

h1 {
    margin: 0;
}

/*------------------Start Header-----------------------------*/


.header {
    position: fixed;
    top: 0;
    max-height: 100px;
    color: white;
    border-bottom: 1px solid whitesmoke;
    width: 100%;
    z-index: 10;
}

.header {
    background-color: white;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.row {
    margin: 0 15px;
}


.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.logo a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.logo a span {
    color: #0a53be;
}

.navbar {

}

.nav-item {
    list-style-type: none;
    font-size: 13px;
    display: inline;
    text-transform: uppercase;
    font-weight: bold;

}
.navbar-item-child {
    text-decoration: none;
    color: white;
    padding-left: 30px;
}

/*------------------End Header-----------------------------*/

/*------------------Start Slider-----------------------------*/

.slider {
    position: relative;
    margin: 0;
    height: 100vh;
    min-height: 639px;
    color: white;
    background-image: url("../img/01.jpg");

}

.slider-item {
    position: relative;
    padding-top: 50px;
    display: flex;
    align-items: center;
    width: 60%;
    height: 639px;
    z-index: 12;
}

.slider-item-child {
    display: flex;
    flex-direction: column;
    min-height: 234px;
    align-items: start;
    justify-content: space-between;
}

.slider-item-child h1 {
    font-weight: 700;
    font-size: 70px;
    text-transform: uppercase;

}

.slider-item-child p {
    margin: 0;
    font-size: 15px;
}

.slider-button {
    margin-top: 30px;
    padding: 15px 30px;
    color: white;
    background-color: unset;
    border: 1px solid white;

}

.slider-button:hover{
    color: black;
    background-color: white;
}

/*------------------End Slider-----------------------------*/


/*------------------Start Service-----------------------------*/

.service {
    padding: 100px 0;
    background-color: whitesmoke;

}

.service-item  {
    display: flex;
    min-height: 255px;
    margin-top: 2px;

}

.service-items-child {
    background-color: white;
    width: 33.333%;
    padding: 50px;
    margin-right: 2px;
}

.service-text {
    font-size: 15px;
}

.service-items-child .service-icon {
    display: block;
    font-size: 30px;
    color: #999caa;
    margin-bottom: 30px;

}
.service-items-child .service-icon:before {
    content: "\e013";
}

/*------------------End Service-----------------------------*/


/*------------------Start products-----------------------------*/

.latest_product {
    padding: 100px 0;
}

.latest-product-title {
    font-size: 30px;
}

.latest-product-text {
    color: #999caa;
}

.product-image {
   width: 100%;
}

.products-item {
    padding-top: 50px;
    display: flex;
    margin: 0 -15px;
    justify-content: space-around;
}


.products-item-child {
    max-width: 33.333%;
    margin: 0 15px;
}

.products-item-child .product-title a {
   text-decoration: none;
    color: black;
}

.products-item-child .product-title span {
    color: #999caa;
    padding-left: 35px;
    font-size: 15px;
}

.products-item-child .product-text {
    color: #999caa;
}

.products-item-child a {
    text-decoration: none ;
    color: black;
}

.products-item-child a:hover {
    color: #999caa;
}

/*------------------End products-----------------------------*/


/*------------------Start client-----------------------------*/


.client {
    min-height: 270px;
    background-color: whitesmoke;
}

.client-item {
    height:270px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*------------------End client-----------------------------*/


/*------------------Start Customer-Review-----------------------------*/

.customers {
    padding: 100px 0;
}
.customers h2 {
    font-size: 35px;
}
.customers-item {
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: #a6a7aa;
    border-left: none;
    margin-left: 20px;
}

.customers-item-child {
    padding: 0 20px;
    width: 70%;
}
.customers-item::before {
    position: absolute;
    top: 0;
    left: -20px;
    font-size: 60px;
    display: inline-block;
    color: #17bed2;
    content: '“';
}

.custemer-name {
    color: black;
}
/*------------------End Customer-Review-----------------------------*/


/*------------------Start Price-----------------------------*/

.prices {
    min-height: 780px;
    background-color: whitesmoke;
}

.price-item {
    height: 780px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-item-child {
    background-color: white;
    width: 33.333%;
    padding: 75px 45px;
}

.price-items-second {
    padding-top: 110px;
    padding-bottom: 110px;
    margin-top: 10px;
    margin-right: 2px;
    margin-left: 2px;
}

.price-item-info {
    margin-bottom: 30px;
}

.price-title {
    font-size: 22px ;
}

.price-title span {
    font-size: 14px;
    color: #999caa;
}

.price-text {
    color: #999caa;
    font-size: 15px;
    font-weight: 400;
}

.price-list {
   margin-bottom: 50px;
   padding-left: 0px;
}

.price-list li {
    position: relative;
    list-style: none;
    padding-left: 20px;
    color: #999caa;
    line-height: 1.5;
}
.price-list li::before {
    position: absolute;
    top: 10px;
    left: 0;
    width: 9px;
    height: 2px;
    background: #17bed2;
    content: " ";
}

.price-choose {
    text-decoration: none;
    color: black;
    padding:  15px 30px;
    background-color: whitesmoke;
}
.price-choose:hover {
    color: white;
    background-color: #17bed2;
    transition-duration: 0.5s;
}


/*------------------End Price-----------------------------*/

/*------------------Start Promo-----------------------------*/

.promo {
    position: relative;
    overflow: hidden;
    height: 400px;
}

.promo-title {
    font-size: 30px;
}

.promo-item p {
    color: #a6a7aa;
    margin-top: 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;
}

.promo-item {
    display: flex;
    width: 510px;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 400px;
}

.promo-image {
   position: absolute;
    top:0;
    left: 50%;
}

.promo-image img {
    display: block;
    max-width: 100%;
    height: auto;
}


/*------------------End Promo-----------------------------*/


/*------------------Starts Works-----------------------------*/

.works {
    padding: 100px 0;
    background-color: whitesmoke;
}
.work-item-info {
    width: 50%;
    margin-bottom: 60px;
}

.work-item-info h2 {
    font-size: 30px;
}

.work-item-info p {
    color: #a6a7aa;
}
.work-item-gallery {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.work-item-gallery-1 {
    position: relative;
    display: flex;
}
.work-item-gallery-2 {
    position: relative;
    display: flex;
}

.work-item-gallery-child{
    margin-left:5px;
    margin-bottom:5px;
    overflow: hidden;
    position: relative;
}

.work-item-gallery-child a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: 3;
}
.work-item-gallery-info {
    opacity: 0;
    position: absolute;
    color: white;
    width: 80%;
    padding:0 25px;
}
.work-item-gallery-child:hover .work-item-gallery-info  {
    opacity: 1;
    bottom: 0;
    margin-bottom: 15px;
    transition-duration: .6s;
}
.work-item-gallery-img  {
    background-color: black;
    width: 100%;
    height: 100%;
}

.work-item-gallery-img img {
    width: 100%;
    height: 100%;
}

.work-item-gallery-child:hover img  {
    opacity: 0.3;
    transition-duration: .8s;
}
/*------------------End Works-----------------------------*/

/*------------------Start footer-----------------------------*/

footer {
    position: relative;
    background: url("../img/foo3.jpg") center center no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
}

.footer-item {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
}

.footer-item-child {
    width: 50%;
}

.footer-navbar {
    display: flex;
    justify-content:start;

}

.footer-menu {
    flex-basis: 35%;
}

.footer-menu-list , .footer-social-list{
    margin: 0;
    padding: 0;
}

.footer-menu-list li , .footer-social-list li {
    list-style: none;
    padding-bottom: 30px;
}

.footer-menu-list li a, .footer-social-list li a {
    color: whitesmoke;
    text-decoration: none;
}

.footer-contact-form h2 {
    margin-top: 0;
    color: white;
    font-size: 30px;
}

.footer-contact-form .contact-form input, .contact-form textarea {
    width: 80%;
    padding: 15px 10px ;
    margin-bottom: 20px;
    background: rgba(0,0,0,.25);
    color: #a6a7aa;
    border: none;

}

.contact-form textarea {
    margin-bottom: 30px;
}

.footer-contact-form .contact-form input:focus-visible, .footer-contact-form .contact-form input:focus,.contact-form textarea:focus {
    outline: none;
}

.contact-form-submit {
    font-size: 13px;
    font-weight: 600;
    padding: 15px 30px;
    background-color: #17bed2;
    border: none;
    color: white;
}

.contact-form-submit:hover {
    background: #63cbd7;
}

.footer-content {
    height: 100px;
    border-top: 1px solid white;
    position: absolute;
    width: 100%;
    bottom: 0;

}

.footer-content-item {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-author {
    color: white;
}
.footer-author a {
    text-decoration: none;
    color: #17bed2;
    font-size: 16px;
    font-weight: 700;
}
/*------------------End footer-----------------------------*/